<h1>Heading
</h1>
<form method="POST" action="/new">
   <input type="text" name="author" placeholder="Author" required/>
   <input type="text" name="text" placeholder="Message" required/>
   <button type="submit">Submit</button>
</form>