<head>
   <html>
   <link rel="stylesheet" href="/styles.css">
   <title>Add message</title>

   </html>

<body>
   <div class="container">
      <h1>Add message </h1>
      <form method="POST" action="/new">
         <p>
         <input type="text" name="author" placeholder="Author" required />
         </p>
         <div class="flex-form">
         <input id="msg" type="text" name="text" placeholder="Message" required />
         <button class="submit" type="submit">Submit</button>
         </div>
      </form>
   </div>


</body>
</head>