body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(92, 92, 245);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(243, 243, 243);
    padding: 2rem;
    border-radius: 1rem;
    width: 500px;
}
h1{
    padding: 0;
    margin: 0;
    text-align: center;
    padding-bottom: 1rem;
}


.flex-date-btn, .author-text{
    display: flex;
    gap: 10px;
    align-items: center;
}
.flex-date-btn{
    font-size: 0.8rem;
    padding-left: 16px;
    padding-top: 3px;
    justify-content: space-between;
}
.date{
    align-self: top;
}
.author-text{
    background-color: rgb(196, 196, 196);
    padding: 1rem;
    border-radius: 1rem;
}
.text{
    width: 90%;
    font-size: 1.2rem;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}
.author{
    font-weight: bold;
}

.btn-details{
    border-radius: 0.5rem;
    padding: 0.3rem 0.6rem;
    border: none;
    cursor: pointer;
    background-color: rgb(196, 196, 196);
    
}
.btn-details:hover{
    background-color: grey;
}
.btn-add, .submit{
    font-size: 1.2rem;
    padding: 0.3rem 0.6rem;
    background-color: rgb(92, 92, 245);
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 0.5rem;
}
.btn-add:hover,
.submit:hover{
    background-color: rgb(1, 1, 180);
}
a{
    text-decoration: none;
    color: inherit;
}



/* form.ejs  styles */

.flex-form{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
input{
    padding: 0.5rem;
    border-radius: 0.5rem
}
#msg{
    flex: 1;
}

@media screen and (max-width: 800px){
    .container{
        width: 90%;
    }
}